::selection {
    background-color: #5d00ff;
  }


/* HEADER */


.logo {
    margin: 1em 3.5em;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li {
    margin: 0 60px;
    list-style: none;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 99%;
    font-size: 33px;
    font-weight: 660;
    font-family: 'Whitney';
}


/* HOVER  */


.nav1 a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    transition: all ease-in 80ms;
}
.nav1 a:hover{
    text-decoration: none;
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}


/* HELLO */


.hello {
   color: white;
}
