body {
    background-image: url(https://cdn.discordapp.com/attachments/908043726117556294/1036751306171355227/ARCADE.png);
}
::-webkit-scrollbar { display: none; }
::selection {
    background-color: #5d00ff;
  }


/* HEADER */


.logo {
    position: relative;
    left: 3.5em;
    bottom: 0.2em;
}
.navbar .nav-links ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.navbar .nav-links ul li {
    padding: 0 50px;
    position: relative;
    right: 2.4em;
    bottom: 0.2em;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 33px;
    font-weight: 660;
    font-family: 'Whitney';
}
.menu-hamburger {
    display: none;
    position: absolute;
    top: 0.8em;
    right: 2em;
    width: 90px;
    cursor: pointer;
}


/* HOVER  */


.button-links {
    text-decoration: none;
}
.nav1 a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    transition: all ease-in 80ms;
}
.nav1 a:hover{
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}


/* 2 PARAGRAPHES */


.paragraphe-color-change{
    color: #A4A4A4;
}
.paragraphe-1{
    color: rgb(255, 255, 255);
    font-family: 'Whitney';
    font-size: 85px;
    font-weight: 600;
    font-style: normal;
    line-height: 75px;
    max-width: 800px;
    list-style: none;
}
.paragraphe-2{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Whitney';
    max-width: 640px;
    list-style: none;
    line-height: 25px;
}
.section-explain {
    position: absolute;
    left: 7.5em;
    top: 19em;
    z-index: 2;
}
.btn-explore{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Whitney';
    font-size: 35px;
    font-weight: 620;
    background-color: #3D00A6;
    border-radius: 5px;
    padding: 13px 40px 20px;
    text-shadow: -4px 3px 4px black;
}
.btn-explore:active{
    text-shadow: -4px 3px 4px black;
    color: rgb(255, 255, 255);
    background-color: #32008a;
    padding: 16px 43px 23px;
}


/* QUICK ACCESS */


.quick-title{
    font-family: 'Whitney';
    font-weight: 600;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 28.7em;
    top: 4.2em;
    z-index: 1;
}
.quick-background{
    position: relative;
    left:70.4em;
    top: 9.8em;
}
.quick-category a {
    text-decoration: none;
    color: #ADADAD;
}
.quick-category {
    z-index: 1;
    list-style: none;
    font-size: 25px;
    font-family: 'Whitney';
    position: absolute;
    top: 8.3em;
    left: 44.3em;
    text-align: center;
}
.category-button{
    background-color: #bababa20;
    padding: 8px 23px;
    border-radius: 13px;
    margin: 0 0 10px;
}
.category-button a:hover{
    color: white;
}


/* QUICKACCESS COLUMN 2 */


.quick-category2 a {
    text-decoration: none;
    color: #ADADAD;
}
.quick-category2 {
    z-index: 1;
    list-style: none;
    font-size: 25px;
    font-family: 'Whitney';
    position: absolute;
    top: 8.3em;
    left: 52.2em;
    text-align: center;
}
.category-button2{
    background-color: #bababa20;
    padding: 8px 41px;
    border-radius: 13px;
    margin: 0 0 10px;
}
.category-button2 a:hover{
    color: white;
}


/* UPDATE */


.update{
    color: white;
    font-family: 'Whitney';
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* FONT FACE */


@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Bold.woff2') format('woff2'),
        url('Whitney-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* MOBILE VERSION */


@media screen and (max-width: 1840px) {
    .logo {
        position: relative;
        left: 3.5em;
        top: 1.5em;
    }
    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 3;
    }
    .navbar .menu-hamburger {
        display: block;
    }
    .nav-links {
        position: absolute;
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        top: 0;
        display: flex;
        margin-left: -100%;
        justify-content: center;
        align-items: center;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .navbar .nav-links ul li {
        margin: 40px 0;
        font-size: 60px;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
    }
    .section-explain li span br{
        position: absolute;
        left: 5em;
        top: 19em;
    }
    .paragraphe-1{
        font-size: 80px;
        font-weight: 600;
        font-style: normal;
        line-height: 60px;
        max-width: 800px;
        line-height: 70px;
        list-style: none;
    }
    .paragraphe-2{
        font-size: 30px;
        line-height: 30px;
        max-width: 530px;
        list-style: none;
    }
    .btn-explore{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Whitney';
        font-size: 40px;
        font-weight: 620;
        background-color: #3D00A6;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        text-shadow: -4px 3px 4px black;
    }
    .btn-explore:active{
        text-shadow: -4px 3px 4px black;
        color: rgb(255, 255, 255);
        background-color: #32008a;
        padding: 16px 45px;
    }
}