body {
    background-image: url(https://cdn.discordapp.com/attachments/908043726117556294/1036408866046476409/ARCADE_2.png);
}
::-webkit-scrollbar { display: none; }


/* HEADER */


.logo {
    position: relative;
    left: 3.5em;
    bottom: 0.2em;
    max-height: 60px;
}
.navbar .nav-links ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.navbar .nav-links ul li {
    padding: 0 50px;
    position: relative;
    right: 2.4em;
    bottom: 0.2em;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 33px;
    font-weight: 660;
    font-family: 'Whitney';
}
.menu-hamburger {
    display: none;
    position: absolute;
    top: 0.8em;
    right: 2em;
    width: 90px;
    cursor: pointer;
}


/* HOVER  */


.button-links {
    text-decoration: none;
}
.links {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    /* transition: background ease-in 300ms; */
    /* transition: text-shadow ease-in 200ms; */
    transition: all ease-in 80ms;
}
.links:hover {
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;

}
.discord {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    /* transition: text-shadow ease-in 200ms; */
    /* transition: background ease-in 300ms; */
    transition: all ease-in 80ms;
}
.discord:hover {
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}
.bookmarks {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    /* transition: text-shadow ease-in 200ms; */
    /* transition: background ease-in 300ms; */
    transition: all ease-in 80ms;
}
.bookmarks:hover {
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}
.contact {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    /* transition: text-shadow ease-in 200ms; */
    /* transition: background ease-in 300ms; */
    transition: all ease-in 80ms;
}
.contact:hover {
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}


/* 2 paragraphe */


.paragraphe-color-change{
    color: #A4A4A4;
}
.paragraphe-1{
    color: rgb(255, 255, 255);
    font-family: 'Whitney';
    font-size: 85px;
    font-weight: 600;
    font-style: normal;
    line-height: 75px;
    max-width: 800px;
    list-style: none;
}
.paragraphe-2{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Whitney';
    max-width: 640px;
    list-style: none;
    line-height: 25px;
}
.section-explain {
    position: absolute;left: 7.5em;top: 19em;
    z-index: 2;
}
.btn-explore{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Whitney';
    font-size: 35px;
    font-weight: 620;
    background-color: #F30049;
    border-radius: 5px;
    padding: 15px 40px;
    text-shadow: -4px 3px 4px black;
    /* transition: background ease-in 250ms; */
}
.btn-explore:active{
    text-shadow: -4px 3px 4px black;
    color: rgb(255, 255, 255);
    background-color: #F30049;
    padding: 16px 45px;
}


/* FOOTER */


footer{
    color: white;
    display: table-row;
    height: 1px;
    text-align: center;
}


/* FONT FACE */


/* @font-face {
    font-family: "proxima_novablack";
    src: url("fonts/proxima_nova_black-webfont.woff2") format("woff2"),
         url("fonts/proxima_nova_black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima_novaregular";
    src: url("fonts/proximanova-regular-webfont.woff2") format("woff2"),
         url("fonts/proximanova-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "whyte_inktrapbold";
    src: url("fonts/whyteinktrap-bold-webfont.woff2") format("woff2"),
         url("fonts/whyteinktrap-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monument_extendedregular';
    src: url('fonts/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monument_extendedultrabold';
    src: url('fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
         url('fonts/monumentextended-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Bold.woff2') format('woff2'),
        url('Whitney-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* MOBILE VERSION */


/* @media screen and (max-width: 1300px) {
    .arcade a {
        font-size: 40px;
        text-decoration: none;
        position: absolute;left: 4em;top: 0.7em;
        letter-spacing: 1px;
    }
    .logo {
        position: absolute;left: 4em;top: 1.3em;
        max-height: 80px;
    }
    .navbar {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 3;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .navbar .nav-links ul li {
        margin: 40px 0;
        font-size: 1.8em;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blueimg{
        margin: none;
        padding: none;
        position: absolute;left: 20em; top: 20em;
        z-index: 1;
        width: 450px;
    }
    .redimg{
        position: absolute;left: 10em; top: 10em;
        margin: none;
        z-index: 0;
        width: 450px;
    }
    .section-explain {
        position: absolute;left: 10em;top: 16em;
    }
    .paragraphe-1{
        font-size: 65px;
        font-weight: normal;
        font-style: normal;
        line-height: 60px;
        max-width: 800px;
        list-style: none;
    }
    .paragraphe-2{
        font-size: 20px;
        max-width: 530px;
        list-style: none;
    }
    .btn-explore{
        font-size: 40px;
        background-color: #0022FF;
        border-radius: 3px;
        padding: 10px 25px;
        text-shadow: 3px 3px 6px black;
        transition: background ease-in 300ms;
    }
} */