.container {
  font-family: "DMSans Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
link-grid {
  display: grid;
}
h1 {
  color: var(--secondary-color);
  font-size: 2.4em;
  text-align: center;
  width: max-content;
}
.container ul {
  margin: 10px 0;
}
.container li:first-child {
  color: var(--primary-color);
  font-size: 2.2em;
  font-weight: 600;
  margin-left: 0;
  margin-bottom: 15px;
}
.container a {
  font-size: 1.2em;
  color: var(--white);
  box-shadow: inset 0 0 0 0 #00000000;
  color: #ffffff;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.container li {
  margin: 0 0 0 1em;
}
.container a:hover {
  box-shadow: inset 200px 0 0 0 var(--primary-color);
  transition: all 0.8s;
  color: white;
}
.container img {
  width: 20px;
}
info-b {
  font-family: "Poppins";
  font-size: 0.9em;
  color: white;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 180px;
  height: 180px;
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  background-color: #250707;
  transition: all 0.4s;
}
#info {
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
}
#info img {
  cursor: pointer;
}
h3 {
  margin-left: 5px;
  visibility: visible;
  display: flex;
}
close {
  cursor: pointer;
  margin-left: 100px;
}
#text {
  display: block;
  width: 180px;
  height: auto;
}
info-b a {
  border-bottom: solid var(--secondary-color) 2px;
  display: inline-block;
  color: var(--white);
}
info-b a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s;
}
info-b a:hover::after {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .sublist li:first-child {
    display: block;
    display: flex;
    background-color: var(--light-grey);
  }
}
