.container {
  font-family: "JetBrains V", Helvetica, Arial;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 15em 5%;
  color: white;
}
.container h1 {
  color: var(--secondary-color);
  font-size: 8em;
  font-weight: 800;
  text-align: center;
}
.container div {
  margin-top: 3em;
  font-size: 1.12em;
  max-width: 30em;
}
.container a {
  display: inline-block;
  color: white;
  border-bottom: solid var(--secondary-color) 2px;
}
.container a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s;
}
.container a:hover::after {
  width: 100%;
}

/* MEDIA SCREEN */
@media screen and (max-width: 740px) {
  .sublist li:nth-child(4) {
    display: block;
    display: flex;
    background-color: var(--light-grey);
  }
}
