/* SECTION CONTACT */

#contact {
  font-family: "Alliance No.1";
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}
.contact-icon {
  margin-top: 10px;
  display: flex;
}
.contact-icon img {
  width: 50px;
  margin-inline: 2px;
}
.contact-icon li {
  margin-top: 8px;
}
#contact h1 {
  font-family: "Alliance No.2";
  margin: 0;
  border-bottom: 2px solid #ffffff;
  font-size: 70px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  text-align: center;
}
.contact-icon a {
  color: white;
}
.contact-icon a:hover {
  color: #ff62f7;
}
.contact {
  margin-top: 20px;
  color: #8b8b8b;
  font-size: 28px;
  line-height: 40px;
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

#contact {
  animation: titleanim 0.6s ease-in-out forwards;
}
@keyframes titleanim {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* MEDIA SCREEN */

@media screen and (max-width: 1530px) {
  #contact {
    width: 45%;
  }
  #contact h1 {
    font-size: 50px;
  }
  .contact-icon img {
    width: 40px;
  }
  .contact {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 900px) {
  #contact h1 {
    font-size: 50px;
  }
  #contact {
    width: 90%;
  }
  .contact {
    font-size: 20px;
  }
}
