body {
    background-image: url(https://cdn.discordapp.com/attachments/908043726117556294/1037033290701492286/ARCADE.png);
}
/* ::-webkit-scrollbar { display: none; } */
::selection {
    background-color: #5d00ff;
  }


/* HEADER */


.logo {
    position: relative;
    left: 3.5em;
    bottom: 0.2em;
}
.navbar .nav-links ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.navbar .nav-links ul li {
    padding: 0 50px;
    position: relative;
    left: 23.9em;
    bottom: 0.2em;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 33px;
    font-weight: 660;
    font-family: 'Whitney';
}
.menu-hamburger {
    display: none;
    position: absolute;
    top: 0.8em;
    right: 2em;
    width: 90px;
    cursor: pointer;
}


/* HOVER  */


.button-links {
    text-decoration: none;
}
.nav1 a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    transition: all ease-in 80ms;
}
.nav1 a:hover{
    border-bottom: solid 3px rgb(240, 240, 240);
    text-shadow: 0px 4px 6px #000000;
}

/* CONTACT */

.contact ul li{
    font-family: 'Whitney';
    color:white;
    list-style: none;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 9em;
    right: 0em;
}
.contact a{
    font-family: 'Whitney';
    text-decoration: none;
    color: white;
}


/* FONT FACE */

@font-face {
    font-family: "Whitney";
    src: url('..assets/fonts/Whitney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.1";
    src: url('../assets/fonts/AllianceNo1-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.2";
    src: url('../assets/fonts/AllianceNo2-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}