/* ---------------------------------------------------------------- */
/* SECTION MID */

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

#mid {
  font-family: "Alliance No.1", Helvetica, Arial;
}
.mid h1 {
  font-family: "Alliance No.2", Helvetica, Arial;
  color: var(--text-color);
  font-size: 5.5em;
  font-weight: 800;
  margin: 0;
  transition: all 0.2s ease-in;
}
.mid li {
  margin: 0 auto;
  color: var(--text-desc);
  font-size: 1.8em;
  font-weight: 500;
  line-height: 35px;
  max-width: 700px;
  transition: all 0.2s ease-in;
}
.mid {
  text-align: center;
  width: max-content;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.letter {
  transition: 0.1s;
  user-select: none;
}
.letter:hover {
  /* color: #8400ff;
  transition: 0.3s; */
  -webkit-text-stroke: 3px #8400ff;
  color: #00000000;
  transition: -webkit-text-stroke 0s;
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

#mid {
  animation: titleanim 0.6s ease-in-out forwards;
}
@keyframes titleanim {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* ---------------------------------------------------------------- */
/* MEDIA QUERY */

@media screen and (max-width: 1530px) {
  .mid h1 {
    font-size: 95px;
    transition: all 0.2s ease-in;
  }
  .mid li {
    font-size: 30px;
    line-height: 38px;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 900px) {
  /* SECTION MID */

  #mid {
    z-index: -1;
  }
  .mid h1 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: 800;
    margin: 0;
  }
  .mid li {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 auto;
    max-width: 380px;
  }
  .mid {
    text-align: center;
    width: max-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .mid h1 {
    font-size: 2.4em;
  }
  .mid li {
    font-size: 0.8em;
    line-height: 18px;
    margin: 0 auto;
    width: 280px;
  }
}
