/* ---------------------------------------------------------------- */
/* SECTION MID */

#mid {
  font-family: "Alliance No.1", Helvetica, Arial;
}
.mid h1 {
  font-family: "Alliance No.2", Helvetica, Arial;
  color: #ffffff;
  font-size: 105px;
  font-weight: 800;
  margin: 0;
  transition: all 0.2s ease-in;
}
.mid li {
  color: #8b8b8b;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  max-width: 760px;
  transition: all 0.2s ease-in;
}
.mid {
  text-align: center;
  width: max-content;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

#mid {
  animation: titleanim 0.6s ease-in-out forwards;
}
@keyframes titleanim {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* ---------------------------------------------------------------- */
/* MEDIA QUERY */

@media screen and (max-width: 1530px) {
  .mid h1 {
    font-size: 95px;
    transition: all 0.2s ease-in;
  }
  .mid li {
    font-size: 30px;
    line-height: 38px;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 900px) {
  /* SECTION MID */

  #mid {
    z-index: -1;
    font-family: "Alliance No.1", Helvetica, Arial;
  }
  .mid h1 {
    font-family: "Alliance No.2", Helvetica, Arial;
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    margin: 0;
  }
  .mid li {
    color: #8b8b8b;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    max-width: 380px;
  }
  .mid {
    text-align: center;
    width: max-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
  }
}
