/* ---------------------------------------------------------------- */
/* SECTION MID */

#mid {
  font-family: "Alliance No.1", Helvetica, Arial;
}

.mid h1 {
  font-family: "Alliance No.2", Helvetica, Arial;
  color: #ffffff;
  font-size: 105px;
  font-weight: 800;
  margin: 0;
}
.mid li {
  color: #8b8b8b;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  max-width: 760px;
}
.mid {
  text-align: center;
  width: max-content;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

#mid {
  animation: titleanim 0.6s ease-in-out forwards;
}
@keyframes titleanim {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* ---------------------------------------------------------------- */
/* MEDIA QUERY */

@media screen and (max-width: 896px) {
  /* Logo and Sign */

  .logo {
    position: absolute;
    left: 50%;
    top: 70px;
  }
  .logo img {
    width: auto;
    height: 70px;
  }
  .sign {
    visibility: hidden;
  }
  .sign-icon {
    margin-top: 20px;
    display: block;
  }
  .sign-icon img {
    height: 70px;
  }

  /* Icon Hamburger */

  .menu-hamburger {
    margin-top: 20px;
    visibility: visible;
    z-index: 2;
  }

  /* Nav-Links */

  .nav-links {
    display: block;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in;
  }
  .nav-links-active {
    display: block;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #353535;
    border-radius: 20px;
    z-index: 1;
    width: auto;
    height: 50vh;
    width: 75%;
    transition: 0.2s ease-in;
  }

  /* Shortcut */

  .shortcut-container {
    width: auto;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
  }
  body {
    overflow-y: hidden;
  }
  .shortcut li {
    margin: 0 -1px;
  }
  .shortcut {
    width: 325px;
    height: 70px;
    display: flex;
  }
  .shortcut img {
    width: 60px;
    transition: 0.1s;
  }
  .shortcut img:hover {
    width: 70px;
    transition: all 0.1s;
  }
}
