:root {
  --text-color: #ffffff;
  --text-desc: #8b8b8b;
  --selection: #5900ff;
  --background-color: #000000;
  --background-2: #ffffff;
}
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Whitney", helvetica, sans-serif;
  background-color: var(--background-color);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #222222;
}
body::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}
::selection {
  background-color: var(--selection);
}

/* ---------------------------------------------------------------- */
/* HEADER */

/* HEADER logo and sign */

.logo {
  position: absolute;
  top: 50px;
  left: 5%;
}
.logo img {
  width: 150px;
  cursor: pointer;
}
.btnr {
  position: absolute;
  top: 50px;
  right: 5%;
  font-size: 18px;
  font-weight: 650;
}
.btnr a {
  color: #8b31ff;
  padding: 10px 24px;
  border: solid #8400ff 2px;
  border-radius: 50px;
  transition: all 0.3s;
}
.btnr a:hover {
  background-color: #8400ff;
  box-shadow: #8400ffa4 0px 12px 30px -10px;
  color: black;
}
.sign-icon {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}
.navlinks {
  height: unset;
  display: flex;
  position: absolute;
  top: 50px;
  right: 15%;
}
.navlinks ul {
  display: flex;
  gap: 40px;
}
.navlinks a {
  font-size: 18px;
  font-weight: 650;
  color: var(--text-color);
  transition: 0.1s;
}
.navlinks a:hover {
  /* border-bottom: #8400ff 3px; */
  color: #8400ff;
  transition: 0.1s;
}

/* HEADER menu hamburger */

.menu-hamburger {
  visibility: hidden;
  cursor: pointer;
}
/* HEADER cross */

.cross {
  visibility: hidden;
}
.backexit {
  display: none;
}

/* ---------------------------------------------------------------- */
/* SHORTCUT */

.shortcut-container {
  margin: 0;
  width: 50px;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}
.shortcut {
  display: block;
}
.shortcut li {
  margin: -8px 0;
}
.shortcut img {
  width: 40px;
  transition: all 0.1s;
}
.shortcut img:hover {
  padding-left: 5px;
  transition: all 0.1s;
}

/* ---------------------------------------------------------------- */
/* UPDATE */

.update {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

@keyframes anim8 {
  0% {
    right: -200%;
  }
  100% {
    right: 0;
  }
}
@keyframes anim9 {
  0% {
    padding-left: 0%;
  }
  100% {
    padding-left: 60%;
  }
}

/* ---------------------------------------------------------------- */
/* FONT FACE */

@font-face {
  font-family: "Whitney";
  src: url("../assets/fonts/Whitney-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.1";
  src: url("../assets/fonts/AllianceNo1-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.2";
  src: url("../assets/fonts/AllianceNo2-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url(../assets/fonts/JetBrainsMonoNL-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@media screen and (max-width: 1530px) {
  .shortcut-container {
    left: 2.5%;
  }
}
@media screen and (max-width: 1400px) {
  .navlinks {
    right: 20%;
  }
}
@media screen and (max-width: 900px) {
  .backexit {
    background-color: #00000042;
    backdrop-filter: blur(2px);
    color: #00000000;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  body {
    overflow-x: hidden;
  }
  /* Logo and Sign */

  .logo {
    z-index: 3;
    margin-top: 20px;
    position: absolute;
    top: 8px;
    transition: 0.2s;
  }
  .logofix {
    z-index: 3;
    margin-top: 20px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
  }
  .logo img {
    width: 180px;
  }
  .btnr {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    right: unset;
    top: unset;
    bottom: 5%;
    left: 35%;
  }
  .btnr a {
    padding: 12px 80%;
    color: black;
    border: none;
    background-color: #8400ff;
    box-shadow: #8400ffa4 0px 12px 30px -10px;
    transition: none;
  }
  .btnr a:hover {
    background-color: transparent;
    border: solid #8400ff 2px;
    color: #8b31ff;
    box-shadow: none;
  }
  /* Icon Hamburger */

  .menu-hamburger {
    visibility: visible;
    z-index: 2;
    height: 40px;
    width: unset;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .menuHamburger-active {
    display: none;
  }
  /* Icon Cross */

  .cross {
    z-index: 2;
    height: 40px;
    width: auto;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    padding-bottom: 20px;
  }
  .cross-active {
    position: fixed;
    border-bottom: solid 3px #ffffff;
    visibility: visible;
  }

  /* navlinks */

  .navlinks li {
    margin: 10px 0;
    margin-inline: 0px;
  }
  .navlinks {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: unset;
    background-color: #353535;
    height: 100vh;
    width: 80%;
    border-radius: 20px 0 0 20px;
    transform: none;
    transition: 0.2s;
  }
  .navlinks ul {
    display: block;
    text-align: left;
    position: absolute;
    top: 18%;
    left: 18%;
    transition: 0.2s;
  }
  .navlinks {
    margin-bottom: 20px;
  }
  .navlinks a {
    font-size: 30px;
  }

  /* Shortcut */

  .shortcut-container {
    z-index: -1;
    padding-top: 0;
    height: auto;
    width: auto;
    position: fixed;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
  }
  .shortcut {
    display: flex;
  }
  .shortcut li {
    margin: 0;
  }
  .shortcut img {
    transition: none;
  }
  .shortcut img:hover {
    width: 40px;
    transition: none;
  }

  .update {
    z-index: -1;
    position: fixed;
    right: 8px;
    bottom: 5px;
  }
  /* ---------------------------------------------------------------- */
  /* ANIMATION */

  .navlinks-active {
    animation: anim8 0.25s ease-out forwards;
  }
  .navlinks {
    animation: anim10 0.25s ease-out forwards;
  }
  .cross-active {
    animation: anim9 0.25s ease-out forwards;
  }
}
@media screen and (max-width: 500px) {
  .cross {
    padding-bottom: 20px;
  }
  .navlinks ul {
    left: 10%;
  }
}
@media screen and (max-width: 330px) {
  /* Logo and Sign */

  .logo img {
    margin-top: 0px;
    width: 170px;
  }
  .sign-icon {
    top: 25px;
    left: 5px;
  }
  .sign-icon img {
    height: 35px;
  }

  /* Icon Hamburger */

  .menu-hamburger {
    top: 25px;
    right: 5px;
    height: 35px;
  }
  /* Icon Cross */

  .cross {
    z-index: 2;
    height: 35px;
    width: auto;
    top: 25px;
    right: 5px;
  }
  .cross-active {
    border-bottom: solid 3px #fff;
    visibility: visible;
  }
  .navlinks-active {
    width: 84%;
  }

  /* Shortcut */
  .shortcut img {
    width: 35px;
    transition: none;
  }
  .shortcut img:hover {
    width: 35px;
    transition: none;
  }
}
