* {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Whitney";
  overflow-x: hidden;
  background-color: #000000;
}
::selection {
  background-color: #5900ff;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #20232400;
}
body::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 20px;
}

/* ---------------------------------------------------------------- */
/* HEADER */

/* logo and sign */
.logo {
  position: absolute;
  left: 10%;
  top: -8px;
}
.logo img {
  width: 150px;
}
.sign {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 25px;
  font-weight: 650;
}
.sign a {
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 10px;
  transition: all 0.3s;
}
.sign a:hover {
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.sign-icon {
  display: none;
}

/* menu hamburger */

.menu-hamburger {
  visibility: hidden;
  width: 70px;
  position: absolute;
  top: 0.8em;
  right: 2em;
  cursor: pointer;
}

/* navbar */

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.nav-links li {
  margin-inline: 20px;
}
.links a {
  font-size: 23px;
  font-weight: 650;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: solid 0px #5e5e5e00;
  transition: all ease-in 0.08s;
}

/* navbar hover */

.links a:hover {
  padding-bottom: 0;
  border-bottom: solid 3px #ffffff;
}

/* ---------------------------------------------------------------- */
/* SHORTCUT */

.shortcut-container {
  width: 80px;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
}
.shortcut li {
  margin: -8px 0;
}
.shortcut img {
  width: 40px;
  transition: 0.08s;
}
.shortcut img:hover {
  width: 50px;
  transition: all 0.08s;
}

/* ---------------------------------------------------------------- */
/* UPDATE */

.update {
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* ---------------------------------------------------------------- */
/* ANIMATION */

nav {
  animation: titleanim2 0.6s ease-in-out forwards;
}
.shortcut-container {
  animation: titleanim3 0.6s ease-in-out forwards;
}
@keyframes titleanim {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes titleanim2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleanim3 {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

/* ---------------------------------------------------------------- */
/* FONT FACE */

@font-face {
  font-family: "Whitney";
  src: url("../assets/fonts/Whitney-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.1";
  src: url("../assets/fonts/AllianceNo1-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.2";
  src: url("../assets/fonts/AllianceNo2-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
