* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000000;
}
::selection {
    background-color: #5900ff;
}
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #202324;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #575e62;
    border-radius: 20px;
  }

/* HEADER */

.logo {
    margin-right: 18%;
}
.logo img {
    width: 150px;
}
.sign {
    margin-left: 18%;
    list-style: none;
    font-size: 25px;
    font-weight: 650;
    font-family: 'Whitney';
}
.sign a {
    color: #ffffff;
    border-radius: 50%;
    padding: 3px 10px;
    text-decoration: none;
    transition: all 0.3s;
}
.sign a:hover {
    color: black;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: all 0.3s;
}

/* NAVBAR */

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
#navbar li {
    margin-inline: 20px;
    list-style: none;
}
.links a {
    font-family: 'Whitney';
    font-size: 23px;
    font-weight: 650;
    text-decoration: none;
    color: #ffffff;
}

/* HEADER HOVER  */

.links a {
    text-decoration: none;
    text-shadow: 0px 4px 4px #000000;
    transition: all ease-in 80ms;
}
.links a:hover{
    border-bottom: solid 3px #ffffff;
    text-shadow: 0px 4px 6px #000000;
}

/* SECTION MID */

#mid h1 {
    color: #ffffff;
    font-family: "Alliance No.2";
    font-size: 105px;
    font-weight: 800;
    line-height: 110px;
    list-style: none;
    margin-bottom: 8px;
}
#mid li {
    color: #8B8B8B;
    font-family: "Alliance No.1";
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    list-style: none;
    max-width: 760px;
}
#mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* SHORTCUT */

.shortcut-container {
    position: absolute;
    left: 12px;
    top: 42vh;
}
.shortcut li {
    margin: -10px;
}
.shortcut img {
    width: 40px;
    transition: 0.1s;
}
.shortcut img:hover {
    width: 50px;
    transition: all 0.1s;
}

/* UPDATE */

.update{
    color: white;
    font-family: 'Whitney';
    font-size: 15px;
    font-weight: 500;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* FONT FACE */

@font-face {
    font-family: "Whitney";
    src: url('../assets/fonts/Whitney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.1";
    src: url('../assets/fonts/AllianceNo1-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.2";
    src: url('../assets/fonts/AllianceNo2-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* MEDIA SCREEN */

@media screen and (max-width: 1530px) {
    .links a {
        font-size: 22px;
        font-weight: 650;
    }
    #mid h1 {
        font-size: 90px;
        transition: all 0.3s;
    }
    #mid li {
        line-height: 30px;
        font-size: 30px;
        max-width: 650px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 1380px) {
    #mid h1 {
        font-size: 90px;
        transition: all 0.3s;
    }
    #mid li {
        font-size: 30px;
        max-width: 650px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 1310px) {
    #mid h1 {
        font-size: 85px;
        transition: all 0.3s;
    }
    #mid li {
        font-size: 30px;
        max-width: 640px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 1235px) {
    #mid h1 {
        font-size: 75px;
        transition: all 0.3s;
        margin-bottom: none;
        line-height: 80px;
    }
    #mid li {
        font-size: 25px;
        max-width: 620px;
        transition: all 0.3s;
    }
    .logo {
        margin-right: 10%;
    }
    .sign {
        margin-left: 10%;
    }
}
@media screen and (max-width: 1100px) {
    #mid h1 {
        font-size: 70px;
        margin-bottom: 0;
        transition: all 0.3s;
        line-height: 90px;
    }
    #mid li {
        font-size: 23px;
        max-width: 610px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 1020px) {
    #mid h1 {
        font-size: 65px;
        transition: all 0.3s;
    }    
    #mid li {
        font-size: 20px;
        max-width: 600px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 975px) {
    #mid h1 {
        font-size: 60px;
        transition: all 0.3s;
    }
    #mid li {
        font-size: 20px;
        line-height: 25px;
    }
}
@media screen and (max-width: 950px) {
    #mid h1 {
        font-size: 60px;
        transition: all 0.3s;
    }
    .logo {
        margin-right: 8%;
    }
    .sign {
        margin-left: 8%;
    }
    
}
@media screen and (max-width: 880px) {
    #mid h1 {
        font-size: 55px;
        transition: all 0.3s;
        margin-bottom: 0px;
        line-height: 70px;
    } 
    #mid li {
        font-size: 18px;
        max-width: 450px;
        line-height: 20px;
        transition: all 0.3s;
    }
    .logo {
        margin-right: 5%;
    }
    .sign {
        margin-left: 5%;
    }
    #navbar li {
        margin-inline: 15px;
    }
}
@media screen and (max-width: 820px) {
    #mid h1 {
        line-height: 30px;
        margin-bottom: 18px;
    }
    #mid li {
        font-size: 15.5px;
        max-width: 400px;
        line-height: 20px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 800px) {
    #mid h1 {
        font-size: 50px;
        transition: all 0.3s;
    }  
    #mid li {
        font-size: 16px;
        max-width: 390px;
    }
    .logo {
        margin-right: 5%;
    }
    .sign {
        margin-left: 5%;
    }
    #navbar li {
        margin-inline: 10px;
    }
}
@media screen and (max-width: 740px) {
    #mid h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    #mid li {
        font-size: 16.5px;
        line-height: 20px;
        max-width: 380px;
    }
    #mid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 55%;
    }
}
@media screen and (max-width: 710px) {
    .sign {
        margin-left: 0%;
    }
    .logo {
        margin-right: 0%;
    }
}
@media screen and (max-width: 675px) {
    .sign {
        margin-left: 20%;
        list-style: none;
        font-size: 25px;
        font-weight: 650;
        font-family: 'Whitney';
    }
    .logo {
        margin-right: 20%;
    }
    #navbar li {
        display: none;
    }
    #mid h1 {
        font-size: 50px;
    }
    #mid li {
        font-size: 18px;
        max-width: 430px;
    }
    #mid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }
}
@media screen and (max-width: 625px) {
    #mid h1 {
        font-size: 55px;
    }
    #mid li {
        font-size: 20px;
        max-width: 420px;
    }
    #mid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
}
@media screen and (max-width: 510px) {
    #mid h1 {
        font-size: 55px;
    }
    #mid li {
        font-size: 18px;
        max-width: 420px;
    }
    #mid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    .shortcut-container {
        position: fixed;
        top: 96%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .shortcut li {
        list-style: none;
        margin: -3px;
    }
    .shortcut {
        display: flex;
    }
}

