* {
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  background-color: #000000;
}
::selection {
  background-color: #5900ff;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #20232400;
}
body::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 20px;
}

/* HEADER */

.logo {
  position: absolute;
  left: 10%;
  top: 30px;
}
.logo img {
  width: 150px;
}
.sign {
  position: absolute;
  top: 38px;
  right: 10%;
  font-size: 25px;
  font-weight: 650;
  font-family: "Whitney";
}
.sign a {
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 10px;
  transition: all 0.3s;
}
.sign a:hover {
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.sign-icon {
  display: none;
}
/* HEADER MENU HAMBURGER */

.menu-hamburger {
  visibility: hidden;
  width: 70px;
  position: absolute;
  top: 0.8em;
  right: 2em;
  cursor: pointer;
}

/* NAVBAR */

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.nav-links li {
  margin-inline: 20px;
}
.links a {
  font-family: "Whitney";
  font-size: 23px;
  font-weight: 650;
  color: #ffffff;
}

/* HEADER HOVER  */

.links a {
  padding-bottom: 15px;
  border-bottom: solid 0px #5e5e5e00;
  transition: all ease-in 0.08s;
}
.links a:hover {
  padding-bottom: 0;
  border-bottom: solid 3px #ffffff;
}

/* SECTION MID */

#mid h1 {
  color: #ffffff;
  font-family: "Alliance No.2";
  font-size: 105px;
  font-weight: 800;
  line-height: 110px;
  margin-bottom: 8px;
  text-align: center;
}
#mid li {
  color: #8b8b8b;
  font-family: "Alliance No.1";
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
}
#mid {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SHORTCUT */

.shortcut-container {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
}
.shortcut li {
  margin: -8px 0;
}
.shortcut img {
  width: 40px;
  transition: 0.08s;
}
.shortcut img:hover {
  width: 50px;
  transition: all 0.08s;
}

/* UPDATE */

.update {
  color: white;
  font-family: "Whitney";
  font-size: 15px;
  font-weight: 500;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* FONT FACE */

@font-face {
  font-family: "Whitney";
  src: url("../assets/fonts/Whitney-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.1";
  src: url("../assets/fonts/AllianceNo1-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance No.2";
  src: url("../assets/fonts/AllianceNo2-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* MEDIA QUERY */

@media screen and (max-width: 896px) {
  /* Logo and Sign */

  .logo {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50%);
  }
  .logo img {
    width: auto;
    height: 70px;
  }
  .sign {
    visibility: hidden;
  }
  .sign-icon {
    margin-top: 20px;
    display: block;
  }
  .sign-icon img {
    height: 70px;
  }

  /* Icon Hamburger */

  .menu-hamburger {
    margin-top: 20px;
    visibility: visible;
    z-index: 2;
  }

  /* Nav-Links */

  .nav-links {
    display: block;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in;
  }
  .nav-links-active {
    display: block;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #353535;
    border-radius: 20px;
    z-index: 1;
    width: auto;
    height: 50vh;
    width: 75%;
    transition: 0.2s ease-in;
  }

  /* Shortcut */

  .shortcut-container {
    width: auto;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
  }
  body {
    overflow-y: hidden;
  }
  .shortcut li {
    margin: 0 -1px;
  }
  .shortcut {
    width: 325px;
    height: 70px;
    display: flex;
  }
  .shortcut img {
    width: 60px;
    transition: 0.1s;
  }
  .shortcut img:hover {
    width: 70px;
    transition: all 0.1s;
  }

  /* SECTION MID */

  #mid h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 85px;
    margin-bottom: 8px;
  }
  #mid li {
    font-size: 28px;
    line-height: 30px;
    max-width: 600px;
  }

  /* UPDATE */

  .update {
    font-size: 25px;
    font-weight: 500;
  }
}
