* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000000;
}
::selection {
    background-color: #ff62f7;
  }

/* HEADER */

.logo {
    width: 150px;
    margin: 35px 15%;
    position: absolute;
    left: 0;
}
.sign {
    position: absolute;
    right: 15%;
    list-style: none;
    font-size: 23px;
    font-weight: 650;
    font-family: 'Whitney';
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 3px 10px;
    transition: all 0.4s;
}
.sign a {
    text-decoration: none;
    color: white;
}
.sign a:hover {
    color: black;
}
.sign:hover {
    font-weight: 650;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    transition: all 0.18s;
}
.navbar .nav-links ul li {
    margin: 40px 1%;
}
.navbar .nav-links ul {
    list-style: none;
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 23px;
    font-weight: 650;
    font-family: "Whitney";
    top: 0% ;
}

/* HEADER MENU HAMBURGER */

.menu-hamburger {
    display: none;
    position: absolute;
    top: 0.8em;
    right: 2em;
    width: 90px;
    cursor: pointer;
}

/* HEADER HOVER  */

.nav1 a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px #000000;
    transition: all ease-in 80ms;
}
.nav1 a:hover{
    border-bottom: solid 3px #ffffff;
    text-shadow: 0px 4px 6px #000000;
}

/* SECTION EXPLAIN */

.title-p {
    color: #ffffff;
    font-family: "Alliance No.2";
    font-size: 105px;
    font-weight: 800;
    line-height: 100px;
    list-style: none;
    margin-bottom: 8px;
}
.p{
    color: #8B8B8B;
    font-family: "Alliance No.1";
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    list-style: none;
    max-width: 760px;
}
.section-ex {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* SHORTCUT */

.shortcut-container {
    position: absolute;
    left: 12px;
    top: 42vh;
}
.shortcut {
    margin: -10px;
}
.shortcut img {
    width: 40px;
    transition: 0.1s;
}
.shortcut img:hover {
    width: 50px;
    transition: all 0.1s;
}

/* UPDATE */

.update{
    color: white;
    font-family: "Whitney";
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* FONT FACE */

@font-face {
    font-family: "Whitney";
    src: url('../assets/fonts/Whitney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.1";
    src: url('../assets/fonts/AllianceNo1-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alliance No.2";
    src: url('../assets/fonts/AllianceNo2-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* MEDIA SCREEN */

@media screen and (max-width: 1530px) {

    .title-p {
        font-size: 90px;
        font-weight: 800;
        line-height: 95.5px;
        transition: all 0.3s;
    }
    .p{
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        max-width: 750px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 1310px) {

    .title-p {
        font-size: 70px;
        font-weight: 800;
        line-height: 60px;
        padding-bottom: 10px;
    }
    .p{
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        max-width: 600px;
    }
}
@media screen and (max-width: 1120px) {

    .title-p {
        font-size: 68px;
        font-weight: 800;
        line-height: 50px;
        padding-bottom: 10px;
    }
    .p{
        font-size: 23px;
        font-weight: 500;
        line-height: 25px;
        max-width: 500px;
    }
}
@media screen and (max-width: 1000px) {

    .logo {
        margin: 35px 5%;
    }
    .sign {
        right: 5%;
    }
}
@media screen and (max-width: 1120px) {

    .title-p {
        font-size: 60px;
        font-weight: 800;
        line-height: 50px;
        padding-bottom: 10px;
    }
    .p{
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        max-width: 500px;
    }
}
@media screen and (max-width: 875px) {
    .sign {
        display: none;
    }
    .menu-hamburger {
        display: block;
        margin: 30px;
    }
    .cont-nav1 { 
        margin: 0 -200%;
        display: none;
    }
    .cont-nav1.mobile-menu {
        width: 400px;
        margin: 0 auto;
    }
    .navbar .nav-links ul li {
        font-size: 4rem;
        margin: 0 auto;
        background-color: red;
    }
    .logo {
        display: block;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
    }
    .navbar .nav-links ul {
        font-size: 80px;
    }
    .title-p {
        font-size: 5rem;
        font-weight:    800;
        line-height: 95.5px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p{
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-ex {
        width: auto;
        position: absolute;
        left: 5%;
        right: 5%;
        top: 35%;
        transform: none;
    }
    .logo {
        width: 350px;
    }

    /* SHORTCUT */

    .shortcut {
    margin: -10px;
    }
    .shortcut img {
    width: 40px;
    transition: 0.1s;
    }
    .shortcut img:active {
    width: 50px;
    transition: all 0.1s;
    }
    .shortcut-container {
        position: absolute;
    }
}
